---
title: About
description: We've built an amazing team of developers, architectets, technologists, engineers and consultants
image: http://localhost:4000/images/gbbckorange.png
---
<section class="container" style="background-image: url({% include relative-src.html src=page.image %})">
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
</section>
