// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";

// Colors

$dark-grey: #636466;
$medium-grey: #939699;
$light-grey: #dee0e0;
$header-color: #07c6e5;

$link-color: #4A4A4A;
$link-hover-color: #111;
